{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <body>
        This is the LabHub Idea Dashboard.<br/>
        You can submit your ideas by clicking "Submit Idea" on the navigation bar.<br/>
        Inorder to submit an idea, you are required to fill four fields<br/><br/>
        "Title" : This is the name of your idea which you are submitting<br/><br/>
        "Description" : Give a brief description about your idea<br/><br/>
        "Effort Required" : The effort/man hours required to finish the task<br/><br/>
        "Business Value" : The value that brings to the business by accomplishing the task<br/><br/>
        Once you are done with filling the required fields, you are ready to submit your idea. <br/>
        The review panel will review your ideas and give their feedback.<br/>
    </body>
{% endblock content %}

